
/* variables */
:root{
    --green:#04D361;
    --dark:#0C0C0C;
    --gray:#AEAEAE;
    --dark-200:#212529;
    --light:#F9f9f9;
    --danger:#e21313;


}
/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height: 100vh;
    background: linear-gradient(252.44deg, #1A1A1A 0%, #0A0A0A 100%);
    position: relative;
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* general */
header{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100vw;
padding-top: 32px;
}



.title{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 48px;
    /* text-align: center; */
    color: var(--light);
    line-height: 60px;
    text-align: center;

}

.btn-cta{
    font-family: 'Inter',sans-serif;
    display: flex;
    align-items: center;
    width: 190px;
    height: 62px;
    border-radius: 6px;
    border:2px solid var(--green);
    color: var(--light);
    padding:21px 30px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}
/* alert errror */
.btn-close-error{
    background-color: var(--danger);
    color: var(--dark-200);
    width: 600px;
    height: 60px;
    margin-top: 10px;
    font-size: 30px;
    border: 0;
}
.btn-close-success{
    background-color: var(--green);
    color: var(--dark-200);
    width: 600px;
    height: 60px;
    margin-top: 10px;
    font-size: 30px;
    border: 0;
}

.text-error{
    color: var(--danger);
}
.text-success{
    color: var(--green);
}


div.swal2-popup ,.swal2-modal, .swal2-show{
    width: 40vw;
    height: 40vh;
    font-family: 'inter' !important;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

   
}
/* alert success */
.btn-close-succes{
    background-color: var(--green);
    color: var(--dark-200);
    width: 600px;
    height: 60px;
}
.alert-erro{
    color: var(--light);
}
.alert-erro > span{
    color: var(--green);
}
img.logo{
    width: max-content;
    height: max-content;
}
/* presentation */
section.presentation{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}
p.description{
    color: var(--green);
    font-family: 'Inter';
    font-weight: 500;
    line-height: 39px;
    font-size: 32px;
    margin-top: 32px;
}
.description{
    color: var(--green);
    font-family: 'Inter';
    font-weight: 500;
    line-height: 39px;
    font-size: 32px;
    margin-top: 32px;
}
main{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
  
    
}
.label{
    color: var(--gray);
    font-family: 'Inter';
    text-align: justify;
    font-size: 26px;
    margin-top: 105px;
    line-height: 36px;
    margin-bottom:48px ;

}
label{
    color: var(--light);
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
}
input{
    width: 600px;
    height: 60px;
    background-color: var(--dark);
    border: 1px solid var(--dark-200);
    margin-top: 8px;
    padding: 10px;
    color: var(--gray);

}
input:focus{
    color: var(--green);
    border: 1px solid var(--green);


    
}
.form-group{
    display: flex;
    flex-direction: column;
    border: 0px;
    justify-content: space-between;
    height: 100px;
}
.btn-send{
    width: 600px;
    height: 60px;
    background-color: var(--green);
    color: var(--dark);
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}